opencv-python
opencv-contrib-python
Pillow
h5py
imutils
tensorflow
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip
numpy
mtcnn
scipy
matplotlib
keras_preprocessing
face-recognition-models
python-docx
pandas
openpyxl



